@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-about {
    width: 100vw;
    top: 7vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    background-color: rgb(250, 250, 250);
}

.test-container {
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.1); */
    width: 110vmin;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

.top-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,0,0,0.0);
    width: 50%;
    height: calc(100% - 2vmin);
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-top: 0vmin;
    border-radius: 0.75vmin;
    overflow: hidden;
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: 0.25vmin solid rgba(0, 195, 255, 0);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.top-item-container:hover {
    border: 0.25vmin solid rgba(0, 195, 255, 1);
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: flex-start;
    width: calc(100% - 2vmin);
    height: 50%;
    background-color: rgba(255,0,0,0.0);
    margin-bottom: 1vmin;
    margin-top: 1vmin;
}

.map-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/team-images/BusinessMapFinal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-top: 0vmin;
    box-sizing: border-box;
}

.map-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/team-images/map2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-top: 0vmin;
    box-sizing: border-box;
}

.faq-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: left;
    background-color: rgba(255,255,255,0);
    width: 23%;
    height: 30%;
    border-radius: 0.75vmin;
    overflow: hidden;
    /* box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.1); */
    margin: 1vmin;
    font-size: 0.9vmin;
    box-sizing: border-box;
    padding: 0.8vmin;
    padding-top: 0.3vmin;
    font-family: Round;
}

.fullscreen-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/team-images/BusinessMapFinal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10% 10%;
    height: 0vh;
    aspect-ratio: 1;
    background-color: transparent;
    pointer-events: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 0.01vmin rgba(0, 0, 0, 0.1));
    opacity: 0;
    border-radius: 1vmin;
    transition: all 0.25s ease-in-out;
}

.fullscreen-img.map1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/team-images/BusinessMapFinal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 75vh;
    aspect-ratio: 1.75;
    opacity: 1;
    background-color: transparent;
    pointer-events: auto;
    filter: drop-shadow(0px 1vmin 1vmin rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.fullscreen-img.map2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/team-images/map2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 75vh;
    aspect-ratio: 1.15;
    opacity: 1;
    background-color: transparent;
    pointer-events: auto;
    filter: drop-shadow(0px 1vmin 1vmin rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.fullscreen-modal {
    background-color: rgba(0,0,0,0.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: 2vmin;
    backdrop-filter: blur(0px);
    transition: all 0.25s ease-in-out;
}

.fullscreen-modal.active {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    pointer-events: auto;
}

/* Animations */